<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        /* NAVBAR */
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          text-align: center;
        }
        
        li {
          float: center;
          display:inline-block;
        }
        
        li a {
          display: block;
          padding: 8px;
          background-color: #dddddd;
        }

        /* TABLE */
        table {
            width: 70%;
        }
        th {
          background-color: blue;
        }

        table, th, td {
          border:1px solid black;
        }

        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        
        table.center {
          margin-left: auto; 
          margin-right: auto;
        }

    </style>
</head>
<body>
    <!-- NAVBAR -->
    <ul>
        <li><a href="/stores">Home</a></li> |
        <li><a href="/stores/add">Add a New Store</a></li> |
        <li><a href="/employees">Employees</a></li>
    </ul>
    
    <h1 style="text-align: center">Betamidi CMS</h1>
    
    <table cellpadding="15" class="center">
        <tr >
          <th>Name</th>
          <th>Code</th>
          <th>Location</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
        <% data.forEach(el => { %>
        <tr>
          <td><%= el.name %></td>
          <td><%= el.code %></td>
          <td><%= el.location %></td>
          <td><%= el.category %></td>
          <td><button><a href="/stores/<%= el.id %>">See Detail</a></button></td>
        </tr>
        <% }) %>
      </table>
</body>
</html>